<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="color: black;">
    <h1 style="text-align: center;background-color: #D25651;color: white;padding: 15px;border-radius: 6px;">Top Performers Today</h1>
    <% @posts.each do |p| %>
    <div>
       <%= link_to post_url(p) do %>
                  <div style="display: table; width: 100%;">
                        <div style="border-radius: 3px;box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);position: relative;text-align: center;width: 38px;background-color: #D1FFB6;padding: 5px 0;vertical-align: middle;float: left;">
                          <div>
                            <img style="height: 35px;width: 35px;" src="http://www.talentshow.io/assets/clap-a8f33fabb857385dc62bb2cd9e7d4ae2.png" alt="Clap">
                            <p style="text-align: center; margin: 0px;"><%=p.points%> </p> 
                          </div>
                            </div>
                                <div class="open" style="padding: 7px 5px;">
                                    <div style="margin-left: 5px;display: inline-block;">
                                        <p style="margin: 0 0 3.5px; font-size: 19px;font-weight: bolder;color: #525252;width: 270px;">
                                            <span class="url"><%=p.title%></span>
                                        </p>
                                        <p class="type"><%=p.kind%></p>
                                    </div>
                                    <div style="margin-top: 11px; float: right;">
                                        <span class="numba"><%=p.comments.count%> Comments</span>
                                    </div>
                                </div>
                    </div>
       <% end %>
    </div>
    <% end %>
  </body>
</html>

