

<div class="pod">
  <div class="pull-left">                        
    <%= render partial: 'votes/vote', locals: { post: post } %>
  </div><%= link_to @post.title, @post.url,  :target => "_blank", class: 'white' %>
  <span class="pull-right"> <%= fa_icon("close", class: "clicker") %></span>
      <span><%= @post.kind %></span>
      <p>
       <%= link_to "View Work", @post.url,  :target => "_blank" %>
     </p>
   </div>

   <% if @post.url.index("youtube.com/watch") ||  @post.url.index("youtu.be") ||  @post.url.index("vimeo") ||  @post.url.index("soundcloud") %>
      <div class="text-center psst" style="background-color: black;">
           <%= @post.url_html %>
      </div>
    <% end %>
   <div class="social">
    <div class="pull-left"><%= link_to user_path(@user) do %>  <%= image_tag(@user.image, class: 'imooge') %> <%= @user.name %> <% end %> <small> posted <%= time_ago_in_words(@post.created_at) %> ago</small>  </div>
     <div class=" pull-right">
      <div class="fb-share-button" data-href="<%= @post_path %>" data-layout="button"></div>
       <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="talented">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
  <div class="spooc">
     <%= render partial: "votes/votercount", locals: { post: @post, voters: @voters } %>
  </div>
  <div class="commenter">
              <span class='js-comments'>
         <%= render partial: 'comments/comment', collection: @comments.parent_comments %>
            </span>
    <% if current_user %>
      <div class='new-comment'>
        <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
      </div>
    <% else %>
      <%= link_to "Sign in to Comment", new_user_session_path %> 
     <% end %>
    </div>
 