<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1427297504244269";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="pod">
  <div class="pull-left">                        
  <%= render partial: 'votes/vote', locals: { post: post } %>
    </div><%= post.title %>
      <span><%= post.kind %></span>
      <p>
       <%= link_to "View Work", @post.url,  :target => "_blank" %>
     </p>
   </div>
   <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
   <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="talented">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   <%= post.voters.each do |v| %>
    <%= v.name %>
    <%= image_tag(v.image) %>
  <% end %>