 <span class="sauce">
 <div class="post"><%= image_tag("showtime.gif", id: 'loading' )%></div>
 <% @sorted_groups.each do |group,posts| %>
    <%day=group[1].strftime("%A")%>
    <%date=group[1].strftime("%B %e")%>
     <%id=group[1].strftime("%B-%e")%>
        <%= render partial: 'date', locals: { date: date, day: day }  %>
    <ul class="listing" id='<%= id %>'>
        <%posts.each do |post|%>
                <%= render partial: 'post', locals: { post: post } %>
        <% end %>
    </ul>
    <hr>
    <% end %>
    </span>
    <p class="lood">
         <%= render partial: 'page' %>
    </p>
<!-- hi -->