 <div class="post"><%= image_tag("showtime.gif", id: 'loading' )%></div>
 <% @sorted_groups.each do |group,posts| %>
    <%day=group[1].strftime("%A")%>
    <%date=group[1].strftime("%B %e")%>
    <div>
    <% if date == Time.new.strftime("%B %e") %>
         <h3 class="dater"> TODAY <span class="small"><%=date%> </span> </h3>
     <% elsif date == Time.new.yesterday().strftime("%B %e") %>
        <h3 class="dater"> YESTERDAY <span class="small"><%=date%> </span> </h3>
    <%else %>
        <h3 class="dater"> <%=day%>  <span class="small"><%=date%> </span></h3>
    <% end %>
    </div>


    <ul class="listing">
        <%posts.each do |post|%>
            <%= link_to post_path(post), method: :get, remote: :true do%>
                <li style="padding: 10px 0;">
                    <div style="display: table; width: 100%;">
                        <div class="madle">
                            <div>
                                <%= image_tag("clap.png", class: "seez") %>
                                <p class= "lor" style="text-align: center; margin: 0px;">12</p>
                            </div>
                        </div>
                            <div style="display: table-cell;  vertical-align: middle;">
                                <div style="margin-left: 5px;" class="inlines">
                                    <p class="spacey">
                                        <span><%=post.title%></span>
                                    </p>
                                    <span class="type"><%=post.kind%></span>
                                </div>
                            <div class="pull-right" style="margin-top: 11px;">
                                <span class="numba"><%=post.comments.count%></span>
                                <%= fa_icon("comment-o", class: "camnt") %>
                                <%= image_tag('http://graph.facebook.com/890605104284789/picture', :alt => "a", class: "imge shorten") %>
                            </div>
                        </div>
                    </div>
                </li>
            <%end%>
        <%end%>
    </ul>
    <hr>
    <% end %>
