history.replaceState(null, "A new title!", "/posts/<%= @post.slug %>");
$('body').append("<div class='screen'></div>");
 $('body').addClass('no-scroll');
  $('.post').html("<div class='pod'><div class= 'pull-left'><div class='madle'> </div></div><%= @post.title %><span><%= @post.kind %></span></div>");
  $('.pod').append('<p><%= link_to "View Work", @post.url,  :target => "_blank" %></p>');
  $('.pull-left > .madle').append('<%= image_tag("clap.png", class: "seez") %> <p class= "cor" style="text-align: center; margin: 0px;">12</p>');
   $('.post').resizable({
    handles: 'w'
});

  $('.screen').click(function() { 
 history.replaceState(null, "A new title!", "/");
  $('body').removeClass('no-scroll')
  $('.post').resizable("destroy");
  $('.post').animate({
      left: "100%"
    }, 200);
  $('.post').html('<img id="loading" src="assets/showtime.gif" />')
  $('.screen').remove();  

})     